h1 {
    margin-left: 60px;
    }
    form li {
    list-style: none;
    margin-bottom: 10px;
    }
    
    form ul li label{
    float: left;
    clear: both;
    width: 95px;
    text-align: right;
    margin-right: 10px;
    font-family:cursive;
    font-size:17px;
    box-sizing: border-box;
    }

    input[type=text],input[type=password], input[type=tel], input[type=date] {
        width: 105px;
        transition: ease-in-out, width .35s ease-in-out;
      }
    input[type=text],input[type=password], input[type=tel], input[type=date]  :focus {
        width: 255px;
      }  
    
    form ul li input, select, span {
    float: left;
    margin-bottom: 15px;
    }
    
    
    
    [type="submit"] {
    clear: left;
    margin: 23px 0 0 230px;
    font-size:20px
    }

    .submitButton {
        background-color:paleturquoise;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
      }
      .submitButton:hover {
        opacity: 1;
      }
      
      
    
      hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
      }
    
      input[type=text], input[type=password], input[type=tel], input[type=date] {
        width: 100%;
        padding: 20px;
        margin: 6px 0 25px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
      }
      
      input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }

      
      